# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#
*       @ArmaForces/sqf-devs

/extension/      @veteran29
/armaforces_mods_x64.dll        @veteran29
