name: Release

on:
  release:
    types:
      - published

jobs:
  build_addon:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set VERSION env
      run: echo ::set-env name=VERSION::$(echo ${GITHUB_REF:11})
    - name: Build addon with HEMTT
      uses: 16AAModTeam/hemtt@stable
      with:
        command: 'build --release'
    # Upload to GitHub
    - uses: softprops/action-gh-release@v1
      with:
        files: 'releases/ArmaForces_Mods_${{ env.VERSION }}.zip'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    # Upload to Steam Workshop
    - uses: arma-actions/workshop-upload@v1
      with:
        itemId: '1934142795' # Id of item to update
        contentPath: 'releases/${{ env.VERSION }}/${{ secrets.MOD_FOLDER }}'
        changelog: '' # TODO add tag description here
      env:
        STEAM_USERNAME: ${{ secrets.STEAM_USERNAME }}
        STEAM_PASSWORD: ${{ secrets.STEAM_PASSWORD }}
